body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body::before{
    content: "";
    position: fixed;
    top:0%;
    left:0%;
    width:100%;
    height: 100%;
    background: repeating-linear-gradient(
        to bottom,
        transparent 0px,
        transparent 2px,
        rgba(0, 0, 0, 0.3) 2px,
        rgba(0, 0, 0, 0.4) 4px
    );
    pointer-events: none;
    z-index: 999;
}

.status {
    color: #00ff41;
    min-height: 1.5em; /* garante altura mesmo vazio */
}

#container {
    display: grid;
    grid-template-rows: 2fr 1fr;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
}

#painel-mensagens {
    border-bottom: 1px solid #00ff41;
    padding: 20px;
}

#painel-status {
    padding: 20px;
}

.mensagem {
    color: #ff0000;
}

.status {
    color: #00ff41;
}

button{
    background-color:transparent;
    border: 1px solid #00ff41;
    font-family: 'Courier New', Courier, monospace;
    color: #00ff41;
    padding: 2px 5px;
}

button::after{
    content: "";
    font-size: 12px;
    color: #00ff41;
}

button{
    color: #00ff41;
    animation: brilhointercalado 1s infinite;
    position: relative;}

@keyframes brilhointercalado{
    0% { text-shadow: 0px 0px 10px #8702a8; }
    100% {text-shadow: 0px 0px 20px #ff0000;}}

#intrusao {
    position: relative;
    color: #00ff41;
}
#intrusao::before,
#intrusao::after
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#intrusao::before{
    color: #00ffff;
    animation: glitchTop 2s infinite;
}

#intrusao::after{
    color: #ff00ff;
    animation: glitchBottom 2s infinite;
}

@keyframes glitchTop{
    0%, 90%, 100% { transform: translate(0); }
    92% { transform: translate(-3px, -2px); }
    94% { transform: translate(3px, 2px); }
    96% { transform: translate(-2px, 1px); }
}

@keyframes glitchBottom{
    0%, 90%, 100% { transform: translate(0); }
    93% { transform: translate(3px, 2px); }
    95% { transform: translate(-3px, -1px); }
    97% { transform: translate(2px, -2px); }
}

#sistema {
    position: relative;
    color: #00ff41;
}

#sistema::before,
#sistema::after
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#sistema::before{
    color: #00ffff;
    animation: glitchTop 2s infinite;
}

#sistema::after{
    color: #ff00ff;
    animation: glitchBottom 2s infinite;
}

#ice {
    position: relative;
    color: #00ff41;
}
#ice::before,
#ice::after
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ice::before{
    color: #00ffff;
    animation: glitchTop 2s infinite;
}

#ice::after{
    color: #ff00ff;
    animation: glitchBottom 2s infinite;
}

#ice {
    position: relative;
    color: #00ff41;
}
